:root {
  --prim-white: #fff;
  --font: #59575a;
  --font-light: #d9d6dc;
  --main-color: #5c2682;
  --border: #f6eafe;
  --border-dark: #f8eeff;
  --border-light: #f9f0ff;
  --btn-border: #dbc4ec;
  --yellow: #fab613;
  --nav: #dccee5;
  --approved: #05c78d0d;
  --approved-text: #05c78d;
  --regected: #ff89460d;
  --rejected-text: #e05815;
  --pending: #f9f1ff;
}

body {
  padding: 10px;
}
.container {
  /* border: 1px solid red; */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.welcome h1,
.welcome h2,
.welcome2 h1 {
  font-weight: 700;
  color: var(--font);
}

.welcome h2 {
  font-size: 18px;
}
.welcome h1 {
  font-size: 20px;
}
.welcome2 h1 {
  font-size: 20px;
}

.welcome2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.back {
  display: flex;
  gap: 10px;
}

.notification img {
  width: 26px;
  height: 28px;
}

.acct-balance {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: scroll;
  padding: 10px;
}

.balance-container {
  background: var(--main-color);
  border-radius: 10px;
  min-width: 85%;
}

.balance-container2 {
  background: var(--main-color);
  border-radius: 10px;
  min-width: 100%;
}
.balance-container3 {
  background: var(--main-color);
  border-radius: 10px;
  min-width: 100%;
}

.balance-top {
  display: flex;
  justify-content: space-between;
}
.balance-top2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.balance-top2 h2,
.balance-top2 h1 {
  color: var(--prim-white);
}

.progress {
  background: #ffffff50;
  height: 10px;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.balac {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
}

.balance-top h2 {
  font-size: 18px;
}

.balance-top h1 {
  font-size: 28px;
}

.balance-top h1,
.balance-top h2 {
  color: var(--prim-white);
}

.img-amt {
  display: flex;
  gap: 10px;
}

.balance-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.balance-bottom2 {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.acct-number {
  display: flex;
  gap: 8px;
}

.acct-number h3 {
  color: var(--prim-white);
}

.padd {
  padding: 10px;
}

.loan-notification {
  border: 1.5px solid var(--border);
  border-radius: 8px;
  padding: 20px;
}

.loan-head {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.loan-head h2 {
  font-size: 14px;
  font-weight: 700;
  color: var(--font);
}
.loan-txt {
  margin-left: 35px;
}

.loan-txt p {
  font-size: 11px;
  color: var(--font);
}

.loan-btns {
  margin-left: 25px;
  padding: 10px;
  display: flex;
  gap: 15px;
}

.loan-btns button {
  width: 85px;
  height: 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 11px;
}

.rejectBtn {
  border: 1.5px solid var(--btn-border);
  background: transparent;
  color: var(--main-color);
}

.approveBtn {
  background: var(--main-color);
  color: var(--prim-white);
}
.approveBtn2 {
  background: var(--main-color);
  color: var(--prim-white);
  width: 85px;
  height: 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 11px;
}

.part1 {
  background: var(--border-light);
  height: 15px;
  width: 85%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
.part2 {
  background: var(--border);
  height: 15px;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.transactions {
  padding-top: 20px;
}

.all-transactions {
  padding: 15px;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 13px;
  font-weight: 700;
  line-height: 14.52px;
  text-align: center;
}
li {
  padding: 10px;
}

li a {
  color: var(--font);
}

#light-txt a {
  color: var(--font-light);
}

.active {
  border-bottom: 3px solid var(--yellow);
}

.transac-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.transac-img img {
  width: 120px;
  height: 120px;
}

.transac-img h2 {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: var(--font);
}

.nav {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}
.nav2 {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-item h2 {
  font-size: 13.5px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: var(--nav);
}

#nav1 {
  color: var(--main-color);
}

.get-loan {
  background: var(--border-light);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-dark);
}

.right-get {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.getloan {
  color: var(--font);
}

.acct-notice {
  display: flex;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
}

.acct {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.acct h2 {
  color: var(--font);
}

.acct p {
  color: var(--font);
}

.approved-sec {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
}

#orangeColor {
  color: var(--yellow);
}

.acct2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.approved {
  background: var(--approved);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: var(--approved-text);
  font-weight: 700;
}

.rejected {
  background: var(--regected);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: var(--rejected-text);
  font-weight: 700;
}

.pending {
  background: var(--pending);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: var(--main-color);
  font-weight: 700;
}

.repayment {
  padding: 20px;
}

.repay-head h1,
.repay-sec h2,
.repay-sec h1 {
  font-weight: 700;
  color: var(--font);
}

.repay-all {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.repay-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  padding: 20px;
}
