:root {
  --prim-white: #fff;
  --secondary-bg: #5c2682;
  --iconbgColors: #f6f3ff;
  --tertiary-bg: #f9f0ff;
  --prim-dark: #494949;
  --orange: #fff4db;
  --iconbgColors2: #fbf4ff;
  --pink-btn: #c4a7d8;
  --pink-bg: #f4e7fc;
  --grayText: #545454;
}
