.btn {
  width: 339px;
  height: 55px;
  padding: 15px 134px 15px 134px;
  background: #5c2682;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
