*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  scroll-behavior: smooth;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
