*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #333;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  scroll-behavior: smooth;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-style: normal;
}
