@media (min-width: 50px) {
  #customer-selection-2-body {
    padding: 1rem;
    width: 94%;
    margin: 0 auto;
  }

  #welcome {
    font-size: 2.5rem;
  }

  #img-back {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 20%;
    padding-bottom: 2.5rem;
  }

  #back {
    font-weight: 600;
    font-size: 1.8rem;
  }

  #login-text {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 0;
  }

  #loan-password {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }

  #loan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #loan-officer {
    color: rgba(92, 38, 130, 1);
    font-size: 1.5rem;
    font-weight: 400;
  }

  #input {
    font-weight: 700;
    border: 2px solid rgba(96, 69, 184, 1);
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    background-color: rgba(243, 239, 255, 0.5);
    color: rgba(149, 140, 175, 1);
  }

  #input-hide {
    border: 2px solid rgba(96, 69, 184, 1);
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    background-color: rgba(243, 239, 255, 0.5);
  }

  #input-password {
    background-color: transparent;
  }

  #password-enter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #password {
    color: rgba(92, 38, 130, 1);
    font-size: 1.5rem;
    font-weight: 400;
  }

  #all {
    display: flex;
    gap: 2rem;
    margin: 1rem 0 6rem 0;
  }

  #left-all {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #dot-all {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  #red {
    color: rgba(213, 0, 0, 1);
  }

  #green {
    color: rgba(0, 200, 83, 1);
  }

  #right-all {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #login-button {
    background-color: rgba(196, 167, 216, 1);
    border-radius: 0.6rem;
    padding: 1.5rem;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
  }

  #registerr {
    background-color: rgba(92, 38, 130, 1);
    border-radius: 0.6rem;
    padding: 1.5rem;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
  }

  #condition {
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    margin: 2rem auto;
  }

  #link {
    color: rgba(92, 38, 130, 1);
    font-weight: 700;
    text-decoration: underline;
  }

  #log {
    color: rgba(92, 38, 130, 1);
    font-weight: 700;
  }
}
