@media (min-width: 50px) {
  #customer-selection-1-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
  }

  #get{
    margin: 1rem 0;
  }

  #select{
    font-weight: 700;
  }

  #get-started-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }

  #self-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5px solid rgba(196, 196, 196, 1);
    width: 100%;
    border-radius: 0.6rem;
    background-color: rgba(252, 249, 255, 1);
  }
  #self-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5px solid rgba(196, 196, 196, 1);
    width: 100%;
    border-radius: 0.6rem;
  }

  #self-service-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #big-text-color {
    font-weight: 700;
    font-size: 1.8rem;
    color: rgba(92, 38, 130, 1);
  }

  #small-text-color {
    color: rgba(173, 169, 177, 1);
    font-weight: 700;
  }

  #loan-officer-support {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5px solid rgba(196, 196, 196, 1);
    width: 100%;
    align-items: center;
    border-radius: 0.6rem;
    background-color: rgba(252, 249, 255, 1);
  }

  #loan-officer-supports {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5px solid rgba(196, 196, 196, 1);
    width: 100%;
    align-items: center;
    border-radius: 0.6rem;
  }

  #loan-officer-support-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #img-lending {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }
}
