@media (max-width: 4000px) {
  main {
    height: 100vh;
    width: 100%;
  }
}
@media (max-width: 768px) {
  main {
    height: 100vh;
    width: 100%;
  }
}

.link {
  color: var(--prim-white);
}

.text_black {
  color: var(--prim-dark);
}

.pinkText {
  color: var(--secondary-bg);
}

.grayText {
  color: var(--grayText);
}

.bottom_border {
  width: 100%;
  height: 0.1rem;
  background-color: rgb(128, 128, 128);
}

.pinkbg {
  background: var(--pink-bg);
  padding: 0.2rem 1rem;
  border-radius: 10rem;
}

.orangeBg {
  background: var(--orange) !important;
}

.text_align {
  text-align: center;
}

.borderBottom {
  border-bottom: 0.1rem solid var(--iconbgColors);
}

.gap {
  gap: 3rem;
}

.gap1rem {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gaphalf {
  gap: 0.5rem;
}

.max_width {
  /* height: 100%; */
  width: 100%;
}

.height {
  height: 100%;
}

.align_self {
  align-self: center;
}

.align_self_right {
  align-self: flex-end;
}

.justify {
  justify-content: space-between;
}

.border {
  border: 0.1rem solid var(--secondary-bg);
}

.margin_top4 {
  margin-top: 4rem;
}

.flexRowWithJustifyAndAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowNoJustify {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.flexRowWithAlign {
  display: flex;
  align-items: center; /* incase of broken code, check here */
}
.flexRowWithJustify {
  display: flex;
  justify-content: center; /* incase of broken code, check here */
}

.flexcolWithAlignAndJustify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* place-content: center; */
}
.flexcolWithAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexcolWithNoAlign,
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexcolNoJustifyAndAlign {
  display: flex;
  flex-direction: column;
}
.flexrowJustifyBetweenAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flexEnd p {
  margin-right: 3.5rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--secondary-bg);
}

.header {
  color: var(--prim-white);
  height: 30%;
  padding: 1.5rem;
  gap: 3rem;
}

.bottom {
  gap: 2rem;
}

.main {
  flex: 1;
  border-radius: 2rem 2rem 0 0;
  background: var(--prim-white);
  padding: 1.5rem;
}
.people {
  background: var(--iconbgColors);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.short_btn {
  background: var(--secondary-bg);
  color: var(--prim-white);
  gap: 0.7rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

/* page 2 */

.groupPhoto {
  height: 30%;
}

.photoBox {
  align-self: center;
}

.form_section {
  flex: 1;
}

.form {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.form_div {
  width: 100%;
}

label {
  font-size: 1.4rem;
}

.pad input {
  padding: 1rem 0.5rem;
  background: transparent;
}

.header {
  height: 30%;
}

#header_height {
  height: 15%;
}

.form_div {
  gap: 0.5rem;
}

.form_div div {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--iconbgColors);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 2rem;
}

.form_div div input {
  flex: 1;
  outline: none;
  background: transparent;
}

.fullbtn {
  background: var(--secondary-bg);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullbtn a {
  color: var(--prim-white);
}

/* Fourth Page */

.congratulationsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--prim-white);
  height: 100%;
  gap: 4rem;
}

.congratsIconBox {
  margin-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.6;
  font-size: 1.4rem;
}

.bold {
  font-weight: bold;
}

.proceedBtn {
  background: var(--secondary-bg);
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

.proceedBtn a {
  color: var(--prim-white);
}

/* fifth page */
.fifthPage {
  height: 100%;
  background: var(--tertiary-bg);
  font-size: 1.5rem;
}

.fifthPage .header {
  background: var(--secondary-bg);
  color: var(--prim-white);
  height: 20%;
}

.photoBox {
  width: 7rem;
  height: 7rem;
  background: var(--prim-white);
  border-radius: 50%;
}

.photoBox img {
  width: 2.5rem;
  height: 2.5rem;
}

.border_radius,
.fifthPage .main {
  border-radius: 0%;
}

.fifthPage .main {
  flex: 1;
  background: none;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.groupDetails {
  background: var(--prim-white);
  margin-top: 2rem;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  width: 90%;
}

.image {
  top: -2rem;
  background: var(--prim-white);
  border-radius: 50%;
  border: 0.4rem solid var(--prim-white);
  position: absolute;
}

.linkBtns {
  background: var(--tertiary-bg);
  color: var(--prim-dark);
  padding: 2rem 4rem;
  text-align: center;
}

.callToAction,
.linkBtns {
  width: 100%;
}

.chat {
  width: 90%;
  gap: 1rem;
}

.flex1 {
  flex: 1;
  background: var(--prim-white);
  height: 100%;
  border-radius: 10rem;
  padding: 0.5rem 0.8rem;
  gap: 1rem;
}

.flex1 input {
  flex: 1;
  height: 100%;
  padding: 0 0.5rem;
  background: transparent;
}

.microphone {
  background: var(--secondary-bg);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.microphone_icon img {
  width: 3rem;
  height: 3rem;
}

/**************** page 6 *********/
.one {
  padding: 1rem 0;
  margin-bottom: 2rem;
  position: relative;
  border-bottom: 0.1rem solid var(--iconbgColors);
}

.btn1 {
  border-radius: 10rem;
  padding: 0.1rem;
  background: var(--secondary-bg);
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.btn2 {
  height: 100%;
  width: 50%;
  background: white;
  padding: 1rem;
  border-radius: 50%;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}

.transform {
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.two,
.list {
  flex: 1;
}

.list {
  gap: 2rem;
}

.list li {
  padding: 0.5rem 0;
}

.orange {
  background: var(--orange);
  color: orange;
  padding: 0.2rem 1rem;
  border-radius: 10rem;
}

.profilePhoto {
  background: var(--iconbgColors);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
}

/********* Page 7 ***************/

.bg_white {
  background: var(--prim-white);
}

.Publ_btn {
  background: var(--secondary-bg);
  color: var(--prim-white);
  padding: 1rem 5rem;
  border-radius: 0.5rem;
}

.page7.header,
.page8.header {
  height: 20%;
}

.page7 textarea {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: 0.3rem solid var(--iconbgColors);
  resize: none;
}

.layout {
  display: flex;
}

.flex {
  flex: 1;
}

/******** PAGE 8 *******/

.pink {
  background: var(--pink-btn);
}

.outerRange,
.box {
  width: 100%;
  height: 1.2rem;
  border-radius: 10rem;
  background: rgb(227, 226, 226);
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: orange;
  z-index: 4;
  border-radius: 10rem;
}

#status::-webkit-calendar-picker-indicator,
#months::-webkit-calendar-picker-indicator,
#address::-webkit-calendar-picker-indicator,
#children::-webkit-calendar-picker-indicator,
#dependants::-webkit-calendar-picker-indicator,
#useOfLoan::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.form_div div:active {
  border: 1px solid;
}

.required {
  position: relative;
}
.required::after {
  content: "*";
  position: absolute;
  color: red;
}

.dashed_border {
  border: 0.1rem dashed var(--secondary-bg);
}

.dashed_border a {
  color: var(--secondary-bg);
}
