@media (max-width: 768px) {
  main {
    height: 100vh;
    width: 100%;
    background: dodgerblue;
  }
}

.flexRowWithJustifyAndAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowNoJustify {
  display: flex;
  align-items: center;
}
.flexRowWithJustify {
  display: flex;
  align-items: center;
}
.flexcolWithAlignAndJustify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexcolWithAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexcolWithNoAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--secondary-bg);
}

.header {
  color: var(--prim-white);
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 3rem;
}

.bottom {
  gap: 2rem;
}

.main {
  flex: 1;
  border-radius: 2rem 2rem 0 0;
  background: var(--prim-white);
  padding: 1.5rem;
  gap: 3rem;
}
.people {
  background: var(--iconbgColors);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.short_btn {
  background: var(--secondary-bg);
  color: var(--prim-white);
  gap: 0.7rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
