#img-text{
    margin: 9rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#whoops{
    font-weight: 900;
    text-align: center;
}

#connection{
    font-weight: 900;
    text-align: center;
    width: 60%;
}

