 @media (min-width: 50px) {
    #first-body {
      display: flex;
      flex-direction: column;
      margin: 8rem 0 2rem 0;
      justify-content: center;
      align-items: center;
      /* gap: 2rem; */
      height: 100vh;
    }
  
    #fcmb-logo {
      width: 10%;
    }
  
    #first-texts {
      margin: 5rem 0 3rem 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-weight: 700;
    }
  
    #join {
      font-size: 1.5rem;
      width: 80%;
      margin: auto;
    }
  
    #first-button {
      background-color: rgba(92, 38, 130, 1);
      margin: 3rem 0 1rem 0;
      border-radius: 0.6rem;
      padding: 1.5rem;
      width: 90%;
      color: white;
    }
  
    #account-login {
      text-align: center;
      width: 70%;
      font-size: 1.5rem;
    }
  
    #started {
      color: rgba(92, 38, 130, 1);
      font-weight: 700;
    }
  }
  